.car-park {
  padding: 10px 0 30px;
  background-color: $bg-primary;
  @include media(M) {
    padding: 100px 0;
  }
  h2 {
    margin-bottom: 11px;
    @include media(XL) {
      margin-bottom: 15px;
    }
  }
  p {
    max-width: 900px;
    margin: 0;
    margin-bottom: 15px;
    line-height: 20px;
    @include media(M) {
      max-width: 930px;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.car-park__list {
  margin: 0;
  margin-bottom: 10px;
  @include media(S) {
    display: grid;
    grid-template-columns: auto auto;
  }
  @include media(M) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    margin-bottom: 20px;
  }
  @include media(L) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 50px;
    margin-bottom: 25px;
  }
  @include media(XL) {
    gap: 30px 70px;
    margin-bottom: 30px;
  }
  li {
    min-height: 306px;
    text-align: center;
    .list-item__img {
      @include media(XL) {
        margin-bottom: 8px;
      }
      img {
        display: block;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
  h3,
  p {
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
  }
  h3 {
    margin-bottom: 20px;
    color: $color-title-secondary;
  }
  p {
    max-width: 180px;
    font-weight: 600;
    @include media(XL) {
      max-width: 150px;
      text-align: center;
    }
  }
}

.car-park p:last-child {
  margin-bottom: 0;
  text-align: center;
  a {
    color: $color-rose;
  }
  @include media(XL) {
    text-align: start;
    font-size: 18px;
  }
}
