.car-park {
  padding: 10px 0 30px;
  background-color: $bg-primary;
  background-color: violet;
  @include media(XL) {
    padding: 100px 0;
  }
  h2 {
    margin-bottom: 11px;
    @include media(XL) {
      margin-bottom: 15px;
    }
  }
  p {
    max-width: 900px;
    margin: 0;
    margin-bottom: 15px;
    line-height: 20px;
    @include media(M) {
      max-width: 930px;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.car-park__list {
  margin: 0;
  margin-bottom: 10px;
  @include media(S) {
    display: grid;
    grid-template-columns: auto auto;
  }
  @include media(XL) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 70px;
    margin-bottom: 25px;
  }
  li {
    min-height: 306px;
    text-align: center;
    img {
      margin-bottom: 15px;
      @include media(S) {
        min-height: 173px;
      }
      @include media(XL) {
        align-items: center;
        max-width: 240px;
        min-height: 173px;
        margin-bottom: 65px;
      }
    }
  }
  h3,
  p {
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
  }
  h3 {
    margin-bottom: 20px;
    color: $color-title-secondary;
  }
  p {
    max-width: 180px;
    font-weight: 600;
    @include media(XL) {
      max-width: 150px;
      text-align: center;
    }
  }
}

a {
  color: $color-rose;
}

.car-park p:last-child {
  margin-bottom: 0;
  text-align: center;
  @include media(XL) {
    text-align: start;
    font-size: 18px;
  }
}
