<form action="#" method="POST" class="form form--contacts ">
  <fieldset>
    <legend>Заполните данные для отправки заявки</legend>
  </fieldset>
  <div class="form__field-text">
    <label for="sender-name" class="visually-hidden"></label>
    <input type="text" name="sender-name" required id="sender-name" placeholder="ФИО">
  </div>
  <div class="form__field-text">
    <label for="form-tel" class="visually-hidden"></label>
    <input type="tel" name="form-tel" required id="form-tel" placeholder="Номер телефона">
  </div>
  <div class="form__field-text">
    <label for="form-title-message" class="visually-hidden"></label>
    <input type="text" name="form-title-message" required id="form-title-message" placeholder="Тема сообщения">
  </div>
  <div class="form__field-text">
    <label for="form-textarea" class="visually-hidden"></label>
    <textarea type="textarea" name="form-textarea" required id="form-textarea" placeholder="Текст сообщения"></textarea>
  </div>
  <button class="button form__button" type="submit">Отправить заявку </button>
</form>
