{% from "components/text-field/text-field.njk" import textField %}
{% from "components/button/button.njk" import button %}
<form action="#" method="POST" class="form form--contacts ">
  <fieldset>
    <legend>Отправьте нам сообщение</legend>
  </fieldset>
  {{textField(name='sender-name',placeholder='ФИО')}}
  {{textField(name='form-tel',type='tel',placeholder='Номер телефона')}}
  {{textField(name='form-title-message',placeholder='Тема сообщения')}}
  <div class="form__text-field">
    <label for="form-textarea" class="visually-hidden"></label>
    <textarea name="form-textarea" required id="form-textarea" placeholder="Текст сообщения"></textarea>
  </div>
  {{ button('submit', 'form__button', 'Отправить сообщение') }}
</form>