{% set benefits = [
  { 'img':'./assets/img/tariffs/weight-icon.svg',
    'title': 'Максимальный вес до 30 кг'
  },
  { 'img':'./assets/img/tariffs/insurance-icon.svg',
    'title': 'Бесплатное страхование'
  },
  {  'img':'./assets/img/tariffs/package-icon.svg',
     'title': 'Бесплатный фирменный конверт'
  },
  {  'img':'./assets/img/tariffs/wallet-icon.svg',
     'title': 'Доступен наложенный платёж'
  }
] %}