{% from 'components/button/button.njk' import button %}
{% from 'components/list/list.njk' import list %}
{% import './data.njk' as data %}

<section class="hero hero--tariffs">
  <div class="hero__img ">
    <img src="./assets/img/purple-bg.png" width="200" height="160" alt="пурпурный фон">
  </div>
  <div class="container hero__container">
    <h1>Популярные тарифы</h1>
    <ul class="hero__benefits benefits">
      <li class="benefits__item">
        <div class="card-benefits">
          <h2>Турбо</h2>
          <p>Доставка в течении 1-2 дня в установленное время</p>
          <div class="card-benefits__alert">Самый быстрый вариант</div>
          <ul class="card-benefits__list">
            {% for benefit in data.benefits.first %}
              {{ list(img=benefit.img, title=benefit.title) }}
            {% endfor %}
          </ul>
          {{ button(type='submit', class='button-primary benefits__button', text='Отправить заявку') }}
        </div>
      </li>
      <li class="benefits__item">
        <div class="card-benefits">
          <h2>Экспресс</h2>
          <p>Отправления любых размеров c фиксированной ценой до 30 кг</p>
          <div class="card-benefits__alert">Самый экономный вариант</div>
          <ul class="card-benefits__list">
            {% for benefit in data.benefits.second %}
              {{ list(img=benefit.img, title=benefit.title) }}
            {% endfor %}
          </ul>
          {{ button(type='submit', class='button-primary benefits__button', text='Отправить заявку') }}
        </div>
      </li>
      <li class="benefits__item">
        <div class="card-benefits">
          <h2>Удобный</h2>
          <p>Доставка, упаковка и страховка включены в стоимость посылки.</p>
          <div class="card-benefits__alert">Самый удобный вариант</div>
          <ul class="card-benefits__list">
            {% for benefit in data.benefits.third %}
              {{ list(img=benefit.img, title=benefit.title) }}
            {% endfor %}
          </ul>
          {{ button(type='submit', class='button-primary benefits__button', text='Отправить заявку') }}
        </div>
      </li>
    </ul>
    <p class="hero__more-info">Подробно со всеми тарифами можно ознакомиться скачав <a href="#">прайс лист</a>
    </p>
  </div>
</section>