<section class="hero">
  <div class="hero__img">
    <picture>
      <source media="(min-width:768px)" srcset="./assets/img/hero-desktop.png" width="904" height="706">
      <img src="./assets/img/hero-mobile.png" width="206" height="174" alt="Курьер на фоне множества коробок">
    </picture>
  </div>
  <div class="container hero__container">
    <h1>Доставка для
      бизнеса и семьи</h1>
    <p>Срочная курьерская доставка почтовых отправлений и документации<span>по всей территории России</span></p>
     {% include 'components/form-tracking/form-tracking.njk' %}
     <ul class="hero__list">
      <li class="hero__item">Международная доставка</li>
      <li class="hero__item">Доставка по России</li>
      <li class="hero__item">Доставка по области</li>
      <li class="hero__item">Доставка по городу</li>
     </ul>
  </div>
</section>