{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}
<!DOCTYPE html>
<html lang="ru">

  {{ head('index', 'Мой курьер') }}

  <body>
    <main>
      {% include "pages/main/sections/car-park/car-park.njk" %}
    </main>
    {{ scripts('index') }}
  </body>

</html>