{% from 'common/njk/head.njk' import head %}
{% from 'common/njk/scripts.njk' import scripts %}
<!DOCTYPE html>
<html lang="ru">
  {{ head('index', 'Мой курьер') }}
  <body class="p-main no-js">
    {% include 'components/header/header.njk' %}
    <main>
      {% include 'components/hero/hero.njk' %}
    </main>
    <div class="overlay visually-hidden"></div>
    {{ scripts('index') }}
  </body>
</html>