.form {
  max-width: 516px;
}

.form__field-text {
  width: 100%;
  min-height: 43px;
  margin-bottom: 12px;
  padding: 7px 30px;
  border: 0.2px solid $color-blue;
  border-radius: 29px;
  background-color: $color-white;
  font-size: 12px;
  line-height: 28px;
  color: $color-text-primary;
  &:last-of-type {
    margin-bottom: 18px;
    @include media(M) {
      margin-bottom: 13px;
    }
  }
  & input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    opacity: 0.5;
    @include media(M) {
      font-size: 16px;
    }
  }
  &:focus-within {
    outline: 1px solid $bg-secondary;
  }
  @include media(M) {
    padding: 18px 42px;
    font-size: 16px;
    line-height: 20px;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 15px;
  @include media(M) {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 20px;
  }
}
