{% macro list(img = 'null', title = 'null', desc = 'null') %}
  <li>
    {% if img != 'null' %}
      <img src="{{ img }}" alt="{{ alt }}" >
    {% endif %}
    {% if title != 'null' %}
      <h3>{{ title }}</h3>
    {% endif %}
    {% if desc != 'null' %}
      <p>{{ desc }}</p>
    {% endif %}
  </li>
{% endmacro %}