body {
  background-color: violet;
}
.hero {
  padding-bottom: 60px;
  @include media(M) {
    position: relative;
    padding: 100px 0 220px;
  }
  .hero__img {
    text-align: right;
    @include media(M) {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 430px;
      @include media(XL) {
        max-width: 100%;
      }
    }
  }

  h1 {
    font-size: 28px;
    line-height: 36px;
    @include media(M) {
      max-width: 400px;
      font-size: 48px;
      line-height: 60px;
    }
  }
  p {
    font-size: 13px;
    line-height: 18px;
    @include media(M) {
      max-width: 523px;
      font-size: 20px;
      line-height: 28px;
    }
  }
  fieldset {
    padding: 0;
    border: none;
  }

  legend {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    @include media(M) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.hero__container {
  position: relative;
}

.form {
  max-width: 516px;
}

.form__field-text input {
  padding: 7px 30px;
  width: 100%;
  min-height: 43px;
  color: $color-text;
  font-size: 12px;
  line-height: 28px;
  background-color: $color-white;
  border: 0.2px solid $color-blue;
  border-radius: 29px;
  &::placeholder {
    opacity: 0.5;
  }
  @include media(M) {
    padding: 14px 30px;
  }
}

.form-hero__field-text {
  margin-bottom: 12px;
}
