.advantages {
  padding: 30px 0 45px;
  @include media(XL) {
    min-height: 750px;
    padding: 110px 0 40px;
  }
}

.advantages__container {
  padding: 0 24px;
  @include media(M) {
    padding: 0 50px;
  }
  h2 {
    margin-bottom: 22px;
    @include media(M) {
      margin-bottom: 40px;
    }
  }
}

.advantages__body {
  @include media(XL) {
    display: grid;
    grid-template-columns: 735px auto;
    column-gap: 45px;
  }
}

.advantages__list {
  margin-bottom: 13px;
  li {
    &:not(:last-child) {
      margin-bottom: 35px;
      @include media(XL) {
        margin-bottom: 0;
      }
    }
    h3 {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 23px;
      color: $color-title-primary;
      @include media(M) {
        font-size: 24px;
        line-height: 30px;
      }
    }
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      @include media(M) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  @include media(S) {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    gap: 20px 30px;
  }
  @include media(XL) {
    gap: 30px 45px;
  }
}

.advantages__img {
  text-align: center;
  img {
    display: inline-block;
    width: 100%;
    max-width: 385px;
    height: auto;
  }
}
