{% from 'components/list/list.njk' import list %}
{% import './data.njk' as data %}

<section class="advantages">
  <div class="advantages__container container">
    <h2>Почему клиенты выбирают нас</h2>
    <div class="advantages__body">
      <ul class="advantages__list">
        {% for advantage in data.advantages %}
         {{ list( title=advantage.title, desc=advantage.description) }}
        {% endfor %}
      </ul>
      <div class="advantages__img">
        <img src="./assets/img/advantages.png" alt="множество логотипов разных компаний" width="256" height="262">
      </div>
    </div>
  </div>
</section>