{% set advantages = [
  {
    'title': 'Личный контакт',
    'description': 'Мы всегда доступны по телефону и обеспечиваем ясность в случае возникновения вопросов.'
  }, {
    'title': 'Скорая обратная связь',
    'description': 'Мы ответим на ваш запрос на транспорт в течение нескольких минут.'
  }, {
    'title': 'Доставка вовремя',
    'description': 'Довольные клиенты благодаря качественной доставке в желаемое время от 125 руб и от 2 дней.'
  }, {
    'title': 'Отличная консультация',
    'description': 'Быстрая обратная связь по вашим транспортным запросам.'
  }, {
    'title': 'Плавный процесс',
    'description': 'Автоматическое обновление статуса для душевного спокойствия.'
  }, {
    'title': 'Транспортное страхование',
    'description': 'Ваш груз застрахован несмотря на то что он находится в надежных руках'
  }
] %}