
.hero {
  display: flex;
  padding-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-primary;

  @include media(M) {
    padding-bottom: 0;
    min-height: 950px;
  }
  .hero__img {
    max-height: 174px;
    text-align: right;
    @include media(M) {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 430px;
      max-height: 706px;
      @include media(XL) {
        max-width: 100%;
      }
    }
  }

  h1 {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 36px;
    @include media(M) {
      margin-bottom: 12px;
      max-width: 400px;
      font-size: 48px;
      line-height: 60px;
    }
  }
  p {
    margin: 0;
    margin-bottom: 31px;
    font-size: 13px;
    line-height: 18px;
    span {
      display: block;
    }
    @include media(M) {
      margin-bottom: 20px;
      max-width: 523px;
      font-size: 20px;
      line-height: 28px;
      span {
        display: inline;
      }
    }
  }
}

.hero__container {
  position: relative;
}
