{% set deliveries = [
  {
  'img': './assets/img/delivery/item_01.png',
  'title': 'Базовая техника и электротовары'
  },
  {
  'img': './assets/img/delivery/item_02.png',
  'title': 'Инструменты и стройматериалы'
  },
  {
  'img': './assets/img/delivery/item_03.png',
  'title': 'Одежда иаксессуары'
  },
  {
  'img': './assets/img/delivery/item_04.png',
  'title': 'Корреспонденцияи документы'
  },
  {
  'img': './assets/img/delivery/item_05.png',
  'title': 'Лекарстваи медикаменты'
  },
  {
  'img': './assets/img/delivery/item_06.png',
  'title': 'Игрушки и др. детские товары'
  }
] %}
