.delivery {
  padding: 40px 0;
  @include media(L) {
    padding: 75px 0;
  }
  h2 {
    margin-bottom: 20px;
    max-width: 170px;
    @include media(M) {
      margin-bottom: 50px;
      max-width: none;
    }
  }
  p {
    text-align: center;
    @include media(M) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.delivery__list {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 36px;
  @include media(S) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  li {
    display: grid;
    place-items: center;
  }
  div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $bg-primary;
    @include media(L) {
      margin-bottom: 30px;
      width: 280px;
      height: 280px;
    }
    img {
      width: 86px;
      height: 68px;
      @include media(L) {
        width: 200px;
        height: auto;
      }
    }
  }
  h3 {
    max-width: 120px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    @include media(M) {
      max-width: 220px;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
