@import "variables";

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 22px;
  @media (min-width: $M) {
    padding: 0 30px;
  }
  @media (min-width: $XL) {
    padding: 0 50px;
  }
}

.button {
  display: inline-block;
  padding: 8px 40px;
  width: 100%;
  font-size: 12px;
  line-height: 28px;
  font-weight: 500;
  color: $color-white;
  border-radius: 29px;
  background-color: $bg-secondary;
  @include media(M) {
    padding: 15px 40px;
    font-size: 18px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.overlay {
  @include media(MOBILE) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  direction: ltr;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $bg-primary;
}

@for $index from 1 through 6 {
  h#{$index} {
    margin: 0;
    font-family: $font-family-base;
    font-weight: 500;
    color: $color-text;
  }
}

input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: $font-weight-regular;
  color: $color-text;
}

textarea {
  overflow-y: auto;
  resize: none;
}

input,
textarea {
  &::-ms-clear {
    display: none;
  }
  &::-webkit-input-placeholder {
    color: $color-text;
  }
  &::-moz-placeholder {
    color: $color-text;
  }
  &:-ms-input-placeholder {
    color: $color-text;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="number"] {
  -moz-appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: none;
}

:invalid {
  box-shadow: none;
}
