// Responsive

$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;

//palette
$color-white: #fff;
$color-rose: #ff5993;
$color-black: #2d2928;
$color-grey: #f4f4f4;
$color-blue: #0658be;

// Colors
$color-title: $color-rose;
$color-text: $color-black;
$color-hover: $color-rose;

//backgrounds
$bg-light: $color-white;
$bg-primary: $color-grey;
$bg-secondary: $color-rose;
$bg-thirdly: $color-blue;

//fills
$fill-svg-primary: $color-blue;

//gradients

// Fonts=
$font-family-base: "Onest", "Helvetica", "Arial", sans-serif;
$font-weight-regular: 400;
$font-size-base: 14px;
