// Responsive

$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;

//palette
$color-rose: #ff5993;
$color-black: #2d2928;
$color-light-grey: #f4f4f4;
$color-blue: #0658be;

// Colors
$color-button-bg: $color-rose;
$color-title: $color-rose;
$color-svg-fill: $color-blue;
$color-primary-bg: $color-light-grey;
$color-text: $color-black;

// Fonts

$font-family-base: "Onest", "Helvetica", "Arial", sans-serif;
$font-weight-regular: 400;
$font-size-base: 14px;
