{% set contacts = [
  {
    'img': './assets/img/contacts/icon_01.svg',
    'title': 'Контактный телефон',
    'href': 'tel:+7453213444',
    'linkText': '+7 495 921-34-44'
  }, {
    'img': './assets/img/contacts/icon_02.svg',
    'title': 'Email',
    'href': 'mailto:support@konfzz.ru',
    'linkText': 'support@konfzz.ru'
  }, {
    'img': './assets/img/contacts/icon_03.svg',
    'title': 'Реквизиты компании',
    'href': 'https://goo.gl/maps/peox76sX7AZfSiCL9',
    'linkText': 'ООО "А+" ИНН 7325109660, ОГРН 1117325012298, КПП 732501001 Ульяновская обл., г. Ульяновск, ул. Карла Либкнехта, д. 24/5А стр. 1 офис 65'
  }

] %}
