{% from 'components/list/list.njk' import list %}
{% import './data.njk' as data %}

<section class="hero hero--contacts">
  <div class="hero__img hero__img--tariffs">
    <img src="./assets/img/tariffs/bg.png" width="200" height="160" alt="пурпурный фон">
  </div>
  <div class="container hero__container">
    <h1>Популярные тарифы</h1>
    {% include 'components/form-contacts/form-contacts.njk' %}
    <ul class="hero--contacts__list">
      {% for contact in data.contacts %}
      {{ list( img=contact.img, title=contact.title, desc=contact.description,href=contact.href,
      linkText=contact.linkText) }}
      {% endfor %}
    </ul>
  </div>
</section>
