<section class="hero hero--contacts">
  <div class="hero__img hero__img--tariffs">
    <img src="./assets/img/tariffs/bg.png" width="200" height="160" alt="пурпурный фон">
  </div>
  <div class="container hero__container">
    <h1>Популярные тарифы</h1>

  </div>
</section>
