<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <a class="header__logo logo">
        <img src="assets/img/logo.svg" class="logo__img" alt="my courier logo" width="92" height="20">
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li>
            <a href="#packagesend" class="menu__link">Отправить посылку</a>
          </li>
          <li>
            <a href="#packagetrack" class="menu__link">Отследить</a>
          </li>
          <li>
            <a href="#tariffs" class="menu__link">Тарифы</a>
          </li>
          <li>
            <a href="#contacts" class="menu__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a href="tel:+7 495 921-34-44" class="header__contacts-field header__contacts-field--tel">
          <svg width="21" height="21" aria-hidden="true" role="img" focusable="false" aria-label="telephone">
            <use href="./assets/img/sprite.svg#icon-tel"></use>
          </svg>
          +7 495 921-34-44</a>
        <a href="mailto:support@konfzz.ru" class="header__contacts-field header__contacts-field--mail">
          <svg width="25" height="21" aria-hidden="true" role="img" focusable="false" aria-label="email">
            <use href="./assets/img/sprite.svg#icon-mail"></use>
          </svg>
          support@konfzz.ru
        </a>
      </div>
      <button type="button" class="header__burger-button">
        <span class="header__burger-marker"></span>
      </button>
    </div>
  </div>
</header>