.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  transition: 0.3s;
  @include media(M) {
    padding: 27px 0;
  }
}

.header__body {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo {
  position: relative;
  z-index: 5;
  flex-shrink: 0;
  height: auto;
}

.logo__img {
  display: block;
  max-width: 100%;
  @include media(M) {
    width: 138px;
    height: 31px;
  }
}

.header__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 250px;
  height: 100%;
  padding: 90px 15px 10px;
  transition: 0.3s;
  @include media(MOBILE) {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 100%;
      max-width: 250px;
      min-height: 90px;
      background-color: $bg-thirdly;
      transition: all 0.3s ease 0s;
    }
  }
  @include media(M) {
    position: static;
    width: auto;
    max-width: 570px;
    height: auto;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
  }
  @include media(XL) {
    max-width: 900px;
  }
}

.header-menu--is-active .header__menu {
  text-align: right;
  @include media(MOBILE) {
    right: 0;
    background: $bg-thirdly;
    color: $color-text-secondary;
    overflow: auto;
    &::before,
    &::after {
      right: 0;
    }
  }
}

.menu__list {
  @include media(S) {
    display: flex;
    flex-wrap: wrap;
  }

  margin: 0;
  line-height: 1;
  @include media(M) {
    gap: 20px 10px;
  }
  @include media(XL) {
    column-gap: 30px;
  }
}

.menu__link {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  transition: 0.3s;
  &--is-current {
    text-shadow: 0 0 3px $color-hover;
    color: $color-title-primary;
  }
  &:hover {
    color: $color-hover;
  }
  &:active {
    color: $color-blue;
  }
}

.header--is-scrolled {
  background-color: rgba($color-black, $alpha: 0.7);
  .menu__link {
    color: $color-text-secondary;
    &--is-current {
      color: $color-title-primary;
    }
  }
}

.header__burger-button {
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 3;
  width: 19px;
  height: 12px;
  @include media(S) {
    width: 39px;
  }
  @include media(M) {
    display: none;
  }
}

.header__burger-button::before,
.header__burger-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: $bg-light;
  transition: all 0.3s ease 0s;
}

.header__burger-button::before {
  top: 0;
  left: 0;
}

.header__burger-button::after {
  right: 0;
  bottom: 0;
  width: 12px;
  @include media(S) {
    width: 20px;
  }
}

.header__burger-marker {
  position: absolute;
  top: 5px;
  right: 0;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  background-color: $bg-light;
  transition: all 0.3s ease 0s;
  @include media(S) {
    width: 30px;
  }
}

.header-menu--is-active {
  li {
    @include media(MOBILE) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  @include media(MOBILE) {
    .menu__list {
      display: block;
    }
    .menu__link {
      font-size: 18px;
    }
  }
}

.header-menu--is-active .header__burger-marker {
  transform: scale(0);
}

.header-menu--is-active .header__burger-button::before {
  top: 5px;
  transform: rotate(45deg);
  background-color: $bg-secondary;
  @include media(S) {
    left: 50%;
    width: 50%;
  }
}

.header-menu--is-active .header__burger-button::after {
  bottom: 5px;
  transform: rotate(-45deg);
  width: 19px;
  background-color: $bg-secondary;
  @include media(S) {
    width: 50%;
  }
}

.contacts {
  font-weight: 500;
}

.header__contacts {
  display: none;
  color: #fff;
  @include media(M) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  @include media(XL) {
    max-width: 500px;
    column-gap: 40px;
  }
}

.header-menu--is-active .header__contacts {
  @include media(MOBILE) {
    position: absolute;
    right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 200px;
    gap: 5px 20px;
  }
}

.contacts__field {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  fill: transparent;
  transition: 0.3s;
  column-gap: 5px;
}

.contacts__field--header {
  font-size: 0;
  stroke: $color-text-secondary;
  &:hover {
    color: $color-text-primary;
    stroke: $color-hover;
  }
}

.contacts__field--tel {
  line-height: 1;
  @include media(L) {
    font-size: 16px;
    line-height: 18px;
  }
  @include media(XL) {
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__field--mail {
  line-height: 1;
  @include media(L) {
    font-size: 14px;
    line-height: 16px;
  }
  @include media(XL) {
    font-size: 16px;
    line-height: 20px;
  }
}

/* поведение меню при выключенном джаваскрипте */

@include media(MOBILE) {
  .no-js .header {
    position: static;
    padding: 10px 0 0;
    background-color: $bg-thirdly;
  }
  .no-js .header__container {
    padding: 0;
  }
  .no-js .header__body {
    flex-direction: column;
    height: auto;
  }
  .no-js .header__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-secondary;
    box-shadow: 0 3px 3px -3px $border-secondary;
  }
  .no-js .menu__list {
    margin: 0;
    text-align: center;
    li {
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $border-secondary;
      box-shadow: 0 3px 3px -3px $border-secondary;
    }
    a {
      font-size: 18px;
      color: $color-text-secondary;
      @include media(MOBILE) {
        font-size: 14px;
      }
    }
  }
  .no-js .header__menu {
    position: static;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
  .no-js .header__menu::before {
    display: none;
  }
  .no-js .header__burger-button {
    display: none;
  }
}
