{% from 'components/list/list.njk' import list %}


{% macro traffic-list(items, nameList) %}
  <ul class="list {{ nameList }}">
    {% for item in items %}
      <li class="item {{ item.class }}">
          <h3>{{ item.title }}</h3>
          <h4>{{ item.subTitle }}</h4>
          <p>{{ item.alert }}</p>
          {% for benefit in item.benefits %}
            {{ list( title=benefit.title) }}
         {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
