.footer {
  padding: 45px 0;
  background: $bg-primary;
  @include media(XL) {
    padding: 60px 0 50px;
  }
}
.footer__container {
  p {
    margin: 0;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: -0.01em;
    text-align: center;
    @include media(XL) {
      margin: 0 auto;
      max-width: 800px;
      font-size: 14px;
      line-height: 20px;
      color: rgba($color-text-primary, $alpha: 0.6);
    }
  }
}

.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  @include media(XL) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .footer__logo {
    margin-bottom: 20px;
    @include media(XL) {
      margin: 0 20px 0 0;
    }
  }

  .footer__menu {
    text-align: center;
    .menu__list {
      margin-bottom: 45px;
      @include media(XL) {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 5px;
      }
    }
    .menu__link {
      font-size: 12px;
      line-height: 15px;
      @include media(L) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}

.contacts__field--footer {
  font-size: 20px;
  line-height: 25px;
  stroke: $color-text-primary;
  &:hover {
    color: $bg-secondary;
    stroke: $bg-secondary;
  }
}
