{% from "components/text-field/text-field.njk" import textField %}
{% from "components/button/button.njk" import button %}
<form action="#" method="POST" class="form ">
  <fieldset>
    <legend>Заполните данные для отправки заявки</legend>
  </fieldset>
  {{ textField(name='form-addressee', placeholder = 'Адрес отправки') }}
  {{ textField(name='form-destination',placeholder = 'Адрес доставки') }}
  {{ textField(name='sender-name', placeholder = 'ФИО отправителя') }}
  {{ textField(name='form-tel',type='tel', placeholder = 'Номер телефона') }}

  {{ button('submit', 'form__button', 'Отправить заявку') }}

</form>