@import "common/scss/variables";
@import "common/scss/mixins";
@import "common/scss/functions";

// Common

@import "common/scss/fonts";
@import "common/scss/normalize";
// @import 'common/scss/reset';

@import "common/scss/base";

// Components

@import "components/menu/menu";
@import "components/header/header";
@import "components/form/form";
@import "components/form-tracking/form-tracking";
@import "components/form-contacts/form-contacts";
@import "pages/main/sections/hero/hero";
@import "components/advantages/advantages";
@import "components/car-park/car-park";
@import "components/delivery/delivery";
@import "components/footer/footer";
@import "components/text-field/text-field";

// Pages

@import "pages/tracking/sections/hero/hero";
@import "pages/tariffs/sections/hero/hero";
@import "pages/contacts/sections/hero/hero";
