@import "common/scss/variables";
@import "common/scss/mixins";
@import "common/scss/functions";

// Common

@import "common/scss/fonts";
@import "common/scss/normalize";
// @import 'common/scss/reset';

@import "common/scss/base";

// Components

@import "components/header/header";
@import "components/form/form";
@import "pages/main/sections/hero/hero";
@import "components/advantages/advantages";
@import "components/car-park/car-park";

// Pages

@import "pages/main/main";
